{% extends 'base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/styleForm.css') }}">
{% endblock %}

{% block title %}
S"inscrire
{% endblock %}



{% block body %}
{% for flash_error in app.flashes('verify_email_error') %}
<div class="alert alert-danger register" role="alert">
    {{ flash_error }}
</div>
{% endfor %}
    <div class="mx-auto p-4 mt-6" style="width: 600px;">
        <div class="col-12 décalage-3 register text-center" style="background-color: #4b6b5c">
            <div >
                <div class="card-body">
                    <h1 class="text-center text-fofo">
                        S'inscrire
                    </h1>
                    {{ form_start(registrationForm) }}
                    {{ form_row(registrationForm.nom) }}
                    {{ form_row(registrationForm.prenom) }}
                    {{ form_row(registrationForm.adresse) }}
                    {{ form_row(registrationForm.telephone) }}
                    {{ form_row(registrationForm.email) }}
                    {{ form_row(registrationForm.plainPassword, {
                    label: 'Password'
                    }) }}
                    {{ form_row(registrationForm.agreeTerms) }}
                    <button type="submit" class="p-2 mb-4 bg-white text-dark" btn-block>
                        S'enregistrer
                    </button>
                    {{ form_end(registrationForm) }}
                    {# <button type="submit" class="p-2 mb-4 bg-white text-dark" btn-block >
                        S'enregistrer
                    </button>
                    {{ form_end(registrationForm) }} #}
                </div>
                <img class="d-block mx-auto p-2 mb-4 mt-4" style="width:500px; height:auto" src="/img/choucador.jpg" alt=" oiseauchoucador">
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}