{% extends 'base.html.twig' %}

{% block title %}Produits index{% endblock %}

{% block body %}
    <h1 class="text-center">NOS PRODUITS</h1>
        <div class=" row m-4 ">
        {% for produit in produits %}
            <div class="col-3">
                <div class="card border-dark mt-4 m-4 ">
                    <img src="{{ asset('img/') ~ produit.nomimage }}" class="card-img-top w-50 h-50" alt="...">
                        <div class="card-body  ">
                            
                            <h5 class="card-title">
                                {{ produit.nom }}
                            </h5>
                            <p class="card-text">
                                {{ produit.description }}
                            </p>
                            <p class="card-text">
                                {{ produit.prix }}
                            </p>
                            <a href="{{ path('app_cart_add', {'id': produit.id }) }}">
                                <button type="button" class="btn btn-primary">
                                    Ajouter au panier
                                </button>
                            </a>
                            <a href="{{ path('app_produits_show', {'id': produit.id}) }}">
                                <button type="button" class="btn btn-primary">
                                    Detail
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}

{% endblock %}
