{% extends 'base.html.twig' %}
{% block title %}
    Produits
{% endblock %}
{% block body %}

<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{{ asset('css/btn.css') }}">
    <script src="{{ asset('js/home.js') }}" defer></script>
</head>
    {# <h1>
        Produits
    </h1> #}
    <table class="table mx-auto p-4 mt-6" style="width: 600px;">
        <tbody>
            <tr>
                <td><img src="{{ asset('img/') ~ produit.nomimage }}" class="card-img-top d-block mx-auto p-2 mb-4 mt-4" style="width:400px;" height:"auto" alt="Choucador"><td>
            </tr>
            <tr>
                <th>
                    Nom
                </th>
                <td>
                    {{ produit.nom }}
                </td>
            </tr>
            <tr>
                <th>
                    Description
                </th>
                <td>
                    {{ produit.description }}
                </td>
            </tr>
            <tr>
                <th>
                    Prix
                </th>
                <td>
                    {{ produit.prix }} €
                </td>
            </tr>
            <tr>
                <th>
                    Catégorie
                </th>
                <td>
                    {{ produit.categorie }}
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ path('app_cart_add', {'id': produit.id }) }}">
                    <button type="button" class="btn btn-primary">
                         Ajouter au panier
                    </button>
                    </a>
                <td>
            </tr>
            
        </tbody>
    </table>

    <a class='ral' href="{{ path('app_categories_show', {'id': produit.categorie.id}) }}">
        Retour a la liste
    </a>
{% endblock %}
