{% extends 'base.html.twig' %}
{% block title %}
    Categories index
    
{% endblock %}
{% block body %}
    
    {# <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for category in categories %}
                <tr>
                    <td>{{ category.id }}</td>
                    <td>{{ category.nom }}</td>
                    <td>
                        <a href="{{ path('app_categories_show', {'id': category.id}) }}">Voir</a>
                        <a href="{{ path('app_categories_edit', {'id': category.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    
        <a href="{{ path('app_categories_new') }}">Créer une categorie</a> #}
    <h1 class="text-center">
        Produits par catégories
    </h1>
    <table class="table">
    <div class="container">
        <div class=" row m-4 ">
        <div>
            <img class="d-block mx-auto p-2 mb-4 mt-4 w-25 h-75" style="width:500px; height:auto" src="/img/test/toucan.jpg" alt=" oiseauchoucador">
        </div>
            {% for category in categories %}
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="card border-dark mt-2 m-2 ">
                        <div class="card-body  ">
                            <p class="card-title">
                                {{ category.nom }}
                            </p>
                            <a href="{{ path('app_categories_show', {'id': category.id}) }}">
                                <button type="button" class="btn btn-primary">
                                    Voir les produits
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    </table>
        {% endblock %}
        