{% extends 'base.html.twig' %}
{% block title %}
    Produits
    
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/catshow.css') }}">
    <link rel="stylesheet" href="{{ asset('css/btn.css') }}">
    {% endblock %}
    {% block body %}
        <head>
            <meta charset="UTF-8" />
                <script src="{{ asset('js/home.js') }}" defer></script>
            </head>
            <div class="container">
                <h1 class="text-center">
                    {{ category.nom }}
                </h1>

            </div>
            <table class="table">
                <div class="container">
                    <div class="row ">
                        {% for produit in category.produits %}
                            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="card border-dark mb-4">
                                    <img src="{{ asset('img/') ~ produit.nomimage }}" class="card-img-top  rounded mx-auto d-block" alt="image du produit">
                                        <div class="card-block  ">
                                            <h5 class="card-title text-center">
                                                {{ produit.nom }}
                                            </h5>
                                            <p class="card-text">
                                                {{ produit.description }}
                                            </p>
                                            <p class="card-text">
                                                {{ produit.prix }}
                                                €
                                                                                    
                                            </p>
                                            <a href="{{ path('app_cart_add', {'id': produit.id }) }}">
                                                <button type="button" class="btn mt-2">
                                                    Ajouter au panier
                                                                                            
                                                </button>
                                            </a>
                                            <a href="{{ path('app_produits_show', {'id': produit.id}) }}">
                                                <button type="button" class="btn mt-2">
                                                    Voir le produit
                                                                                            
                                                </button>
                                            </a>
                                        </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </table>
    {% endblock %}
                    